@import "tailwindcss";

@plugin "flowbite-react/plugin/tailwindcss";

@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-anton: 'Anton','Roboto';
  --font-roboto: 'Roboto';
  
  --color-bg-dark: #051C36;
  --color-bg-light: #F5F5F5;
  
  /* Nút chính, header, link */
  --color-primary-500: #34617F;
  --color-primary-600: #5F8FA5; /* hover */
  
  /* Link phụ, icon, Subtitle/Caption */
  --color-secondary-500: #5F8FA5;
  
  /* Rating, Giá vé, gói subscription, icon thông báo */
  --color-accent-400: #E6D3AB;
  
  --color-text-dark-main: #F5F5F5; /* text chính*/
  --color-text-dark-sub: #5F8FA5; /* subtitle, description*/
  
  --color-text-light-main: #051C36;
  --color-text-light-sub1: #34617F;
  --color-text-light-sub2: #5F8FA5;
  
  --color-errors: #F05252;
}

/* Signup Styles */

@layer components {
  /* register form */
  
  .label-form {
    @apply font-roboto text-base font-normal text-text-light-main dark:text-text-dark-main;
  }
  
  .title-form {
    @apply text-text-light-sub1 dark:text-text-light-sub2 font-anton text-2xl leading-[50px] font-normal;
  }
  
  .link-form {
    @apply font-roboto text-base font-normal text-text-light-sub1 hover:underline dark:text-text-dark-sub;
  }
  
  .btn-register {
    @apply font-anton m-3 bg-primary-500 text-base font-normal hover:bg-primary-600 text-text-dark-main w-1/2;
  }
  
  .layout-register {
    @apply bg-bg-light dark:bg-bg-dark  flex h-screen w-full flex-col;
  }
  
  .error-text {
    @apply text-errors text-sm font-roboto;
  }
}

svg {
  color: aliceblue;
}

